@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-highlight: var(--highlight);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #112720;
  /* Dark Green - BG */
  --foreground: #F8FAF9;
  /* White/Mist - Text */
  --primary: #FFBA00;
  /* Gold - Action */
  --secondary: #6D9773;
  /* Sage */
  --accent: #B46617;
  /* Bronze */
  --highlight: #FFBA00;
  /* Gold */

  --card-bg: rgba(255, 255, 255, 0.05);
  /* Glass/Dark Card */
  --card-border: rgba(92, 87, 87, 0.1);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}